<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/blogpost/{{id}}">
    <!-- The card contains the gallery name as the card header -->
    <header>
      {{id}}.
      {{blogpost_title}}
      Posted by: xxx on
      {{blogpost_date}}</header>
    <!-- The card contains the first painting of the gallery -->
    <p>
      {{blogpost_text}}
    </p>
  </a>
</section>