<div class="single-blogpost-container">
  <section class="card">
    <header>
      {{id}}.
      {{blogpost_title}}
      Posted by: xxx on
      {{blogpost_date}}</header>
    <p>
      {{blogpost_text}}
    </p>
  </section>


  {{#each comments as |comment|}}
    <header>
      {{id}}.
      Posted on
      {{comment_date}}</header>
    <!-- The card contains the first painting of the gallery -->
    <p>
      {{comment_text}}
    </p>
  {{/each}}
</section>



  <section class="card">
    <header>
      Add a comment:
    </header>

    <form class="comment-form" id="comment-form">
      <input id="comment-input" name="comment-input" />

      <button type="submit" value="submit">Sumbit</button>
    </form>
  </section>

</div>